
<div>
  <div class="mainbody" style="height: 100vh; width: 100vw; background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(https://raw.githubusercontent.com/karanjadhav/karanjadhav.github.io/master/digibar.jpg);">

<nav class="navbar navbar-expand-sm navbar-dark">
  <a (click)="goToUserLogin()" class="btn btn-lg btn-info btn-outline-light" style="left: 90vw; position: fixed; margin-right: 3vw; top: 3vh; margin-left: 2vw;" >Login</a>
  <a (click)="goToRegister()" class="btn btn-lg btn-info btn-outline-light" style="position: fixed; left: 82vw; top: 3vh;" >register</a>
  
</nav>
<div class="container">
<div class="col-md-6 offset-md-3" style="background-color: whitesmoke; margin-top: 10vh; padding: 5vh; ">
    <h3> Forget Password </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group col-md-6"
        [class.has-error]="uEmail.invalid && uEmail.touched"
        [class.has-success]="uEmail.valid">
            <label for="Email" class="control-label">Email</label>
             <input type="email" [(ngModel)]="user.emailId" name="custEmail" 
             id="custEmail" class="form-control" placeholder="Enter Email" 
             #uEmail="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
             <span class="help-block text-danger" *ngIf="uEmail.hasError('required') && uEmail.touched">
              Email-Id is required
            </span>
            <span class="help-block text-danger" *ngIf="uEmail.hasError('pattern') && uEmail.touched">
              Not a valid Email
            </span>
        </div>
    
        
        <button class = "btn btn-outline-success btn-sm mr-2" type ="submit">Submit</button>
        <a class="btn btn-outline-info btn-sm mr-2" (click)="goToUserLogin()">Back To Login</a>
    </form>
</div>
</div>
  </div>
</div>
